.App {
  text-align: center;
  align-items: center;
  height: 100%;
  flex: 1;
  background: rgb(129,132,162);
  background: linear-gradient(67deg, rgba(129,132,162,1) 0%, rgba(59,193,236,1) 100%);
}

.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.container-fluid {
  height: 100%;
}
